<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.escom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Escom"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Escom">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SidangscheduleActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SeminarscheduleActivity"
            android:exported="true"></activity>
        <activity
            android:name=".PermintaanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SemdangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MahasiswaActivity"
            android:exported="true"></activity>
        <activity
            android:name=".PembimbingActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DetailActivity"
            android:exported="true"></activity>
        <activity
            android:name=".PesertaActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LogbookActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SidangActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SidangpengujiActivity"
            android:exported="true"></activity>
    </application>

</manifest>